* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

header {
  background-image: url(../img/wall.png);
}

body {
background-image: url(../img/cork.png);  
}


/* font */

.summer p {
  font-family: "Edu TAS Beginner", cursive;
  text-transform: uppercase; 
  font-weight: bold;
  font-size: 60px;
}

.card p {
  font-family: "Sometype Mono", monospace;
 line-height: 10px;
 font-size: 15px;
}

/* card style */

.border-shadow {
box-shadow: 3px 5px 10px #000;
 border-radius: 0 !important;
}

.row {
  position: relative;
}

/* elements */

.pin {
position: absolute;
width: 25px;
top: -10px;
left: 115px;
}