* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

header {
  background-image: url(../img/wall.png);
  background-size: 50%;
}

body {
background-image: url(../img/cork.png);  
background-size: 80%;
}


/* font */

.summer p {
  font-family: "Edu TAS Beginner", cursive;
  text-transform: uppercase; 
  font-weight: bold;
  font-size: 60px;
}

.card p {
  font-family: "Sometype Mono", monospace;
 line-height: 5px;
 font-size: 15px;
}

.card {
  cursor: pointer;
}

/* card style */

.border-shadow {
box-shadow: 3px 5px 10px #000;
 border-radius: 0 !important;
}

.row {
  position: relative;
}

/* elements */

.pin {
position: absolute;
width: 25px;
top: -10px;
left: 115px;
}

/* overlay */

#overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.9);
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  }


  #openPhoto {
  width: 400px;
  }

  /* button */

  #btn {
  position: absolute;
  top: 60px;
  background-color: rgb(168, 133, 93);
  color: #000;
  font-family: "Edu TAS Beginner", cursive;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
  }

  /* hover */
